html,
body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: sans-serif;
}

.contianer {
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}

.header {
  background: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 0;
  color: white;

  .logo {
    background: #ccc;
    border-radius: 50%;
    padding: 25px;
    width: 75px;
    height: 75px;

    svg {
      fill: #666;
    }
  }
}
